body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 420px;
    width: 100%;
    background: whitesmoke;
    padding: 25px 30px;
    border: 1px solid gray;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    margin: 12px 0 6px;
    font-weight: 600;

}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    font-size: 16px;
}

input:focus {
    border-color: black;
    outline: none;
}

#years {
    width: 100%;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    font-size: 16px;
}

#years:focus {
    border-color: black;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.5s;
}

#calculateBtn {
    background: #133c46;
    color: white;
}

#calculateBtn:hover {
    background: brown;
    color: white;
}

#backBtn {
    background: silver;
    color: white;
}

#backBtn:hover {
    background: gray;
}

#result {
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: green;
}