a {
    text-decoration: none;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(128, 128, 128, 1);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
}

nav .nav_logo a {
    display: flex;
    gap: 10px;
    align-items: center;
}



nav .nav_logo a img {
    max-width: 100px;
    height: 50px;
    transform:scale(2) ;
    transform-origin: center;
    margin: 0px 20px 0px 40px;


}


nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 30px;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: white;
    background-color: #133c46;
}

nav label {
    font-size: 32px;
    color: white;
    cursor: pointer;
}

label .menu_btn,
label .close_btn {
    display: none;
}

#click {
    display: none;
}

li a, .dropbtn {               
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  border-radius: 30px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: #133c46;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.heroWrapper {
    background-image: url(../images/bg1.png);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    max-height: 100vh;
}

.hero_container{
    color: white;
    bottom: 0;
    min-height: 100vh;
    max-width: 1300px;
    text-shadow: 2px 2px black;
    justify-content: space-evenly;
    padding: 550px 30px 0px 30px;
    
}


.punch1::after {
    content: '';
    max-width: 1300px;
    background: silver;
    height: 2px;
    display: block;
    margin: 10px 0px; 
    border-radius: 8px;
}

/* Products */

.Products {
    min-height: 100vh;
    padding: 60px 20px 120px;
    background-color: silver;
}


.Products h2::after {
    content: '';
    width: 200px;
    background: saddlebrown;
    height: 5px;
    display: block;
    margin: 10px auto 0; 
    border-radius: 8px;
}

.Products h2 {
    text-align: center;
    margin-bottom: 150px;
}

.productContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
}

.productContainer h3 {
    text-align: center;
    margin: 20px auto;
    color: black;

}

.itemsSelection {
    flex-wrap: wrap;
}

.sectionContainer img {
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.nav_logo h2 {
    color: white;
}

header i {
    color: white;
    font-size: 25px;
    margin: 0px 20px 0px 0px;
}


/* Gallery */

.gallery {
    background: whitesmoke;
    padding: 60px 20px 100px;
}

.gallery h2 {
    text-align: center;
    margin-bottom: 50px;
}

.gallery h2::after {
    content: '';
    width: 200px;
    background: saddlebrown;
    height: 5px;
    display: block;
    margin: 10px auto 0; 
    border-radius: 8px;
}

.gallery .gallery_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.gallery_container .gallery_items {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    justify-content: space-around;
}

.gallery .gallery_container img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.gallery_container .gallery_items:hover img {
    transform: scale(1.2);
}


/* contact */
.contact {
    background: silver;
    padding: 60px 20px 100px;
}

.contact_container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.contact_container .contact_form {
    max-width: 65%;
    width: 100%;
}

.contact_container .contact_form .field {
    margin: 20px 0;
}

.contact_container .contact_form .field label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}

.contact_container .contact_form .field input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact_container .contact_form .field input:focus {
    border: 2px solid black;
    box-shadow: 4px 4px 6px 2px rgba(0,0,0, 0.5);
    outline: none;   
}

.contact_container .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.contact_container .contact_form textarea:focus {
    border: 2px solid black;
    box-shadow: 4px 4px 6px 2px rgba(0,0,0, 0.5);
    outline: none;
}

.contact_container .contact_form .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.4s ease;
    
}

.contact_container .contact_form .button:hover {
    color: white;
    background: black;
    border-color: black;
    transform: scale(1.1);
}

.contact_text .contact_items {
    display: flex;
    gap: 20px;
    margin: 80px 0;
}

.contact_text .contact_items i {
    font-size: 32px;
    margin-top: 5px;
}

.foot {
  display: flex;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: orangered;
  text-shadow: none;
  font-size: 10px;
  background-color: silver;
}